body {
  font-family: Arial;
  background: #f1f3f6;
  margin: 0;
}

.container {
  width: 90%;
  margin: auto;
}

.header {
  text-align: center;
  padding: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.1);
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 8px;
}

.btn {
  display: block;
  margin: 20px auto;
  padding: 12px 25px;
  background: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}

.results {
  background: white;
  padding: 20px;
  border-radius: 10px;
}

/* CHAT */
#chatBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: blue;
  color: white;
  padding: 15px;
  border-radius: 50%;
  cursor: pointer;
}

#chatBox {
  display: none;
  position: fixed;
  bottom: 80px;
  right: 20px;
  width: 280px;
  background: white;
  padding: 10px;
  border-radius: 10px;
  }
