/* Bouton flottant */
#chatBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #007bff;
  color: white;
  padding: 15px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 20px;
}

/* Chat box */
#chatBox {
  display: none;
  position: fixed;
  bottom: 80px;
  right: 20px;
  width: 300px;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
  padding: 10px;
}

.chat-header {
  font-weight: bold;
  margin-bottom: 10px;
}

#chatContent {
  height: 150px;
  overflow-y: auto;
  margin-bottom: 10px;
  font-size: 14px;
}
/* Logo */
.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.logo-icon {
  font-size: 35px;
  background: linear-gradient(45deg, orange, red);
  padding: 10px;
  border-radius: 50%;
  color: white;
}

.logo-text h1 {
  margin: 0;
  font-size: 24px;
}

.logo-text p {
  margin: 0;
  font-size: 12px;
  color: gray;
  }
